<!DOCTYPE html>

<title>Edit Atelierenligne</title>

{% block body %}

    {{ include('admin/atelier/_form.html.twig', {'button_label': 'Update'}, {'button_label1': 'Retour à la liste'}) }}


{% endblock %}
