<!DOCTYPE html>

<title>New Atelierenligne</title>

{% block body %}

    {{ include('admin/atelier/_form.html.twig') }}

    <a href="{{ path('app_atelierenligne') }}">back to list</a>
{% endblock %}
