

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Connexion{% endblock %}
</title>
    <!-- plugins:css -->
   
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{asset('build/assets/css/register.css')}}">
  
    <!-- endinject -->
  </head>
 
{# templates/login/index.html.twig #}




{% block body %}
   <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div div class="auth-form-light text-left py-5 px-4 px-sm-5">

                            <div class="brand-logo">
                            <img src="{{asset('build/assets/images/logo 1.svg')}}" alt="logo">
                            </div>
                    
                                {#  #}
                            <div class="container">
                                    <h4>Mot de passe oublié</h4>
                                    <h6>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</h6>

                                    {% for message in app.flashes('danger') %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% endfor %}
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success">{{ message }}</div>
                                    {% endfor %}
                                    
                                    <form method="post">
                                    <div class="form-group">
                                        <label>Email :</label>
                                        <input type="email" name="email"  class="form-control form-control-lg" required>
                                    </div>    
                                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Envoyer</button>
                                    </form>
                                    
                            </div>
                                {# #}
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Les étoiles en dehors du conteneur principal -->
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- inject:js -->

    <!-- endinject -->
  </body>
  {% endblock %}